@import '../style/reboot.scss';

.App {
  margin: 0 20%;
  padding: 20px;
  background-color: $bg-gray;

  label {
    font-size: large;
    font-weight: 900;
  }

  .GroupingList {
    .GroupingTab {
      margin: 20px 0;

      input {
        background-color: $primary-color;
        border: 0;
        float: right;
        width: 100px;
        height: 30px;
      }
    }

    .TeamLists {
      .List {
        border: 1px solid $gray;
        margin: 10px;

        .ListBar {
          text-align: center;
          padding-top: 8px;
          color: white;
          background-color: $gray;
          height: 30px;
        }
      }

      .Students {
        display: flex;
        flex-wrap: wrap;

        .Student {
          background-color: $light-gray;
          padding: 5px;
          margin: 8px;
          width: 70px;
          text-align: center;
        }
      }
    }
  }

  .StudentList {
    .List {
      display: flex;
      flex-wrap: wrap;

      .Student {
        background-color: $light-gray;
        padding: 5px;
        margin: 8px;
        width: 70px;
        text-align: center;
      }
    }
  }
}
